// ===========================================================================
//
// 404
//
// ===========================================================================

.error404 {
    .content-area {
        @include span-columns(12);
        @include zero-right;
    }
    .page-title {
        @include type-style-h1;
    }
}
