// Mixins
// ------
// Mixins allow you to define styles that can be re-used
// throughout the stylesheet without needing to resort to
// non-semantic classes like .float-left. Mixins can also
// contain full CSS rules, and anything else allowed
// elsewhere in a Sass document. They can even take
// arguments which allows you to produce a wide variety
// of styles with very few mixins.
//
// For complete documentation:
// Sass mixins:     http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#mixins
// Bourbon mixins:  http://bourbon.io/docs/

// Import variables for use in Mixins.
// 
@import 'variables';

// Standard unit of measurement to keep things simple
// 
$global-unit: 15;
@function unit($value) {
    @return rem($global-unit * $value);
}

// Wrapper for modular scale function
//
$modular-scale-ratio: $perfect-fourth;
$modular-scale-base: 1em;
@function ms($value: 0) {
    @return modular-scale($value);
}

// Font weight translations
// 
@mixin font-weight($weight: default) {
    @if ($weight == thin) or ($weight == ultralight) or ($weight == ultra-light) {
        font-weight: 100;
    }
    @if ($weight == extralight) or ($weight == extra-light) {
        font-weight: 200;
    }
    @if ($weight == light) {
        font-weight: 300;
    }
    @if ($weight == normal) or ($weight == book) or ($weight == regular) or ($weight == default) {
        font-weight: 400;
    }
    @if ($weight == medium) {
        font-weight: 500;
    }
    @if ($weight == semibold) or ($weight == semi-bold) or ($weight == demi) {
        font-weight: 600;
    }
    @if ($weight == bold) {
        font-weight: 700;
    }
    @if ($weight == extrabold) or ($weight == extrabold) {
        font-weight: 800;
    }
    @if ($weight == black) or ($weight == heavy) {
        font-weight: 900;
    }
}


// Predefined Type Styles
//

@mixin type-style-h1 {
    @include font-weight(light);
    @include media($tablet) {
        font-size: ms(3);
    }

    font-size: ms(4);
    line-height: ms(0);

    margin-top: ms(-2);
    margin-bottom: ms(-2);
    &:first-child {
        margin-top: 0;
    }
    a {
        @include link-hover-none;
    }
}

@mixin type-style-h2 {
    @include font-weight(light);

    font-size: ms(2);
    line-height: ms(1);

    margin-top: ms(0);
    margin-bottom: ms(-1);
}

@mixin type-style-h3 {
    @include font-weight(normal);

    font-size: ms(1);
    line-height: ms(0);

    margin-top: ms(0);
    margin-bottom: ms(0);
}

@mixin type-style-h4 {
    @include font-weight(normal);

    font-size: ms(0);
    line-height: ms(0);

    margin-top: ms(0);
    margin-bottom: ms(0);

    text-transform: uppercase;
}

@mixin type-style-h5 {
    @include font-weight(normal);

    font-size: ms(0);
    line-height: ms(0);

    margin-top: ms(0);
    margin-bottom: ms(0);
}

@mixin type-style-h6 {
    @include font-weight(normal);

    font-size: ms(0);
    line-height: ms(0);

    margin-top: ms(0);
    margin-bottom: ms(0);
}

@mixin type-style-small {
    font-size: rem(14);
    line-height: ms(1);
}

@mixin type-style-default {
    @include font-weight($default-font-weight);
    @include media($tablet) {
        @include font-weight(normal);
    }

    font-family: $default-font;
    font-size: ms(0);
    line-height: ms(2);

    margin-top: ms(0);
    margin-bottom: ms(0);
}

@mixin no-wrap {
    white-space: nowrap;
}

@mixin ellipsis {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin link-hover {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
@mixin link-hover-none {
    &:hover {
        text-decoration: none;
    }
}

@mixin double-gutter {
    @include media($tablet) {
        padding-right: 0;
    }

    padding-right: 2.35765% * 2;
}

@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
    color: $normal;
    @if $visited {
        &:visited {
            color: $visited;
        }
    }
    @if $focus {
        &:focus {
            color: $focus;
        }
    }
    @if $hover {
        &:hover {
            color: $hover;
        }
    }
    @if $active {
        &:active {
            color: $active;
        }
    }
}

@mixin links($style: default) {
    @if $style == hex-white {
        @include link-colors($hex-white, $hex-real-white);
    }
    @if $style == hex-primary {
        @include link-colors($hex-primary, $hex-primary-hover);
    }
    @if $style == hex-secondary {
        @include link-colors($hex-secondary, $hex-secondary-hover);
    }
    @if $style == hex-footer {
        @include link-hover;
        @include link-colors($hex-footer, $hex-footer-hover);
    }
    @if $style == default {
        @include link-colors($hex-default, $hex-default-hover);
        @include link-hover;
    }
}

@mixin no-bullet {
    margin-left: 0;

    list-style-type: none;
    list-style-image: none;
}
@mixin no-bullets {
    padding-left: 0;

    list-style: none;
    li {
        @include zero-left;
        @include no-bullet;
    }
}

@mixin bg-image($filename, $x: left, $y: top, $ext: png ) {
    background-image: url('./img/#{$filename}.#{$ext}');
    background-repeat: no-repeat;
    background-position: $x $y;
}

@mixin bg-image-hidpi($filename, $width, $height, $x: left, $y: top, $ext: png ) {
    @include hidpi {
        background-image: url('./img/#{$filename}@2x.#{$ext}');
        background-size: $width + px $height + px;
    }

    background-image: url('./img/#{$filename}.#{$ext}');
    background-repeat: no-repeat;
    background-position: $x $y;
}

@mixin all-text-inputs {
    input[type='color'],
    input[type='date'],
    input[type='datetime'],
    input[type='datetime-local'],
    input[type='email'],
    input[type='month'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='time'],
    input[type='url'],
    input[type='week'],
    textarea {
        @content;
    }
    // Alternate bourbon implementation below (Causes csscomb errors)
    // #{$all-text-inputs} {
    //     @content;
    // }
}

@mixin zero-all {
    margin: 0;
    padding: 0;
}
@mixin zero-top {
    margin-top: 0;
    padding-top: 0;
}
@mixin zero-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}
@mixin zero-left {
    margin-left: 0;
    padding-left: 0;
}
@mixin zero-right {
    margin-right: 0;
    padding-right: 0;
}
@mixin zero-last {
    &:last-child {
        @include zero-bottom;
    }
}

@mixin hide {
    display: none;
    visibility: hidden;
}

@mixin code {
    font-family: $mono;
    font-size: 12px;
    line-height: 1.5em;
}

@mixin tablet-single {
    @include media($tablet) {
        @include span-columns(8 of 8);
    }
}
@mixin mobile-single {
    @include media($mobile) {
        @include span-columns(4 of 4);
    }
}
