@import "neat/app/assets/stylesheets/neat-helpers";

$max-width: 68em;
$gutter: golden-ratio(1.25em, 1);

// Breakpoints
$tablet: new-breakpoint(max-width 768px 4);
$mobile: new-breakpoint(max-width 480px 2);
$desktop: new-breakpoint(min-width 769px 12);