// ===========================================================================
//
// Typography
//
// ===========================================================================

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$source-sans: 'Source Sans Pro', $helvetica;
$mono: Monaco, Consolas, 'Lucida Console', monospace;
$default-font: $source-sans;
$default-font-weight: light;
