///////////////
// Variables //
///////////////

// Global Variables
//
$wp-admin-bar-height: 46px;
$wp-admin-bar-height-desktop: 32px;
$header-bar-height: 120px;
$header-bar-height-mobile: 60px;
$header-logo-width: 260px;
$timing-default: .25s;
$easing-default: ease-in-out;

// Margin / Padding
//
$margin: $gutter;
$padding: $gutter;

// Borders
//
$border-thin: 1px solid $hex-border;
